@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Honk&display=swap');


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: lightblue;
    font-family: "Honk", system-ui;
    text-align: center;
    font-size: 100px;
    margin: 0px;
}

.subtitulo{
    display: flex;
    color: white;
    font-weight: bold;
    text-align: left ;
    

}

.tarjetas {
    display: flex;
    gap: 10px;
}



.tarjeta-de-mokepon {
    display: flex;
    flex-direction: column;
    
    width: 120px;
    height: 120px;
    background-color: rgba(230, 2, 3, 0.5);
    
    
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
}

.tarjeta-de-mokepon p {
    text-align: center;
    color: white;
    margin: 0;  
}


.tarjeta-de-mokepon img {
    width: 80px;
    height: 80px;
    
}

body{
    background-image: url("./IMG/vsBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    font-family: "Arimo", sans-serif;
}






input{
    display: none;
}

.botoncito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    color: red;
    font-size: 20px;
    width: 250px;
    height: 90px;
    margin-top: 10px;
    

}

.botoncito p {
    margin: 0;
}

.botoncito img {
    width: 44px;
    height: 44px;
    margin-bottom: 5px;
    
}


#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: rgba(230, 2, 3, 0.5);
    width: 150px;
    height: 50px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
}

#mensajes {
    display: flex;
    width: 350px;
    height: 100px;
    background:rgba(215, 18, 110, 0.9);
    color: white;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    
    border-radius: 35px;
    
}

#boton-reiniciar {
    border: none;
    color: rgb(215, 18, 110);
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}